$red:#d10009;
$red_dark:#950009;
$blue:#337ab7;
$green:#007313;
$clockColor:#5d5e61;

body{
  margin:0;
}
body *{
  outline:none !important;
  font-family:'Coda', cursive;
}
.header{
  text-align:center;
  color:#777;
}
.title{
  font-size:37px;
  margin-bottom:-3px;
}
.author{
  font-size:19px;
  margin-bottom:6px;
  margin-top:0;
}
.big-wrapper{
  align-items:center;
  display:flex;
  height:100%;
  justify-content:center;
  left:0;
  overflow:auto;
  position:fixed;
  width:100%;
  background:#bcbcbc; /* Old browsers */
  background:-moz-linear-gradient(left, #bcbcbc 0%, #ededed 25%, #fff 50%, #ededed 75%, #bcbcbc 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(left, #bcbcbc 0%, #ededed 25%, #fff 50%, #ededed 75%, #bcbcbc 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(to right, #bcbcbc 0%, #ededed 25%, #fff 50%, #ededed 75%, #bcbcbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#bcbcbc', GradientType=1); /* IE6-9 */
}
.map{
}
._row{
  display:block;
  line-height:0;
  text-align:center;
}
.cell{
  width:30px;
  height:30px;
  display:inline-block;
  margin:0;
  padding:0;
}
#img_preload{
  opacity:0;
  height:1px;
  & > div{
    height:1px;
  }
}
.box{ @extend .cell;
  background:url("../images/box.png");
}
.box_on_target{ @extend .cell;
  background:url("../images/box_on_target.png");
}
.concrete{ @extend .cell;
  background:url("../images/concrete.jpg");
}
.floor{ @extend .cell;
  background:url("../images/floor.jpg");
}
.target{ @extend .cell;
  background:url("../images/target.jpg");
}
.user{ @extend .cell;
  background:url("../images/user.jpg");
}
.user_on_target{ @extend .cell;
  background:url("../images/user_on_target.jpg");
}
.wall{ @extend .cell;
  background:url("../images/wall.jpg");
}
#map > ._row:first-child, #map > ._row:last-child{
  display:none;
}
#map > ._row > div:first-child, #map > ._row > div:last-child{
  display:none;
}
.input-margin{
  margin:0 10px 0 5px;
}
.game-details{
  text-align:center;
  margin-bottom:10px;
  input{ @extend .input-margin;
    width:40px;
    margin:0 10px 0 5px;
    display:inline-block;
    &.wide-input{
      width:50px;
    }
  }
  select.level-list{ @extend .input-margin;
    display:inline-block;
    width:70px;
  }
}
._link{
  font-weight:bold;
}
.btn-margin{
  font-weight:bold;
  position:relative;
  top:-2px;
}
/*Modal*/
.modal{
  font-family:Coda, Arial, cursive;
  display:none;
  z-index:100;
  background-color:rgb(0, 0, 0);
  background-color:rgba(0, 0, 0, 0.6);
  align-items:center;
  height:100%;
  justify-content:center;
  left:0;
  overflow:auto;
  position:fixed;
  width:100%;
}
.modal-content{
  font-size:18px;
  background-color:#fff;
  margin:auto;
  padding:20px;
  max-width:758px;
  position:relative;
  border:1px solid #888;
  width:80%;
  left:-9px;
  text-align:left;
}
.modal-content .soko-cells{
  width:20px;
  height:20px;
  background-size:100%;
  position:relative;
  bottom:-4px;
  margin:0 3px 0 3px;
}
.modal-title{
  font-size:30px;
  line-height:1;
  &:first-child{
    margin-bottom:14px;
  }
}
.links{
  position:relative;
  left:10px;
  top:26px;
  font-size:19px;
  margin-bottom:-1px;
}
#copySuccess{
  opacity:0;
}
.green, .green:hover, .green:focus{
  color:$green;
}
@media screen and (max-width:600px) {
  .modal-content{
    font-size:16px;
  }
  .modal-title{
    font-size:24px;
  }
}
.close-x{
  color:#aaa;
  float:right;
  font-size:28px;
  font-weight:bold;
  position:relative;
  top:-11px;
  left:3px;
  &:hover,
  &:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
  }
}
.emphasize{
  font-weight:bold;
  color:$blue;
}