<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ES2015 Sokoban</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="dist/styles/pavelcreatorLib.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="dist/styles/style.css" type="text/css" media="screen"/>
  <link href='https://fonts.googleapis.com/css?family=Coda|Roboto+Mono:500,400,300,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<div class="big-wrapper">
  <div class="parent">
    <div class="header">
      <h2 class="title">ES2015 Sokoban</h2>
      <p class="author">by PavelCreator:
        <a href="https://github.com/PavelCreator" target='_blank'><i class="fa fa-github"></i></a>,
        <a href="https://ua.linkedin.com/in/pavel-neshataev-470167a0" target='_blank'><i class="fa fa-linkedin-square"></i></a>
      </p>
    </div>
    <div id="sokoban">
      <div class="game-details" id="game-details">
        <p>
          <label for="current_level">Level: </label>
          <input type='text' id='current_level' name='current_level' class="form-control wide-input" disabled>
          <label for="steps">Steps: </label>
          <input type='text' id='steps' name='form-control' class="form-control wide-input" disabled>
          <label for="targetsUnfilled">Targets unfilled: </label>
          <input type='text' id='targetsUnfilled' name='steps' class="form-control" disabled>
        </p>
        <p>
          <label for="choose_level">Choose level: </label>
          <select class="form-control level-list" id="level-list">
            <option value="1-1">1-1</option>
            <option value="1-2">1-2</option>
          </select>
        </p>
      </div>
      <div id="map"></div>
    </div>
    <div id="img_preload">
      <div class="box"></div>
      <div class="box_on_target"></div>
      <div class="floor"></div>
      <div class="target"></div>
      <div class="user"></div>
      <div class="user_on_target"></div>
      <div class="wall"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="dist/script.min.js"></script>
</body>
</html>